<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @person.phone %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>

</p>
  <%= image_tag(@person.avatar.url(:medium)) %>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
